h1 {
    font-size:40px;
    padding-bottom:50px;
}

.textFelt {
    display: inline-block;
    width: auto;
    margin: 0 10px 10px 0;
    padding: 5px;
    vertical-align: middle;
    flex-grow: 1;
}

.labelFelt {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 80px;
}

#filmValg{
    margin-bottom:30px;
}

button {
    margin-top:30px;
}

#antall {
    width:40px;
}
#visBestilling tbody tr:nth-child(even) {
    background-color: #b3ccff;
}
#visBestilling tbody tr:nth-child(odd) {
    background-color: #f0f0f5;
}

table {
    border-collapse: collapse; /* This removes any space between borders */
}

tr{
    padding:5px;
}
td{
    padding: 5px 15px;
}

 td, th {
    border-style: none;
}
